div[contenteditable] {
  width: 95%;
  margin-left: 2%;
  margin-top: 10px;
  padding: 3px;
  font-size: 1.2em;
  height: 52px;
  border: 1px solid black;
  border-radius: 5px;
  overflow-y: scroll;
}

.form-button {
  margin: auto;
  padding: 5px;
  font-size: 1.2em;
  background-color: rgb(233, 233, 233);
  border-radius: 4px;
  margin-top: 7px;
  margin-left: 15px;
}

.submit-container {
  height: 50px;
  position: relative;
}

.loading {
  position: absolute;
  left: 180px;
  top: 12px;
}

.output {
  border: 1px solid black;
  border-radius: 5px;
  height: 71%;
  max-height: 420px;
  width: 95%;
  margin-bottom: 10px;
  margin-left: 2%;
  padding: 3px;
  justify-self: end;
  overflow-y: scroll;
}

.form {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}
